:root {
  --first-color: #D9C4C4;
  --second-color: #8397C4; 
  --third-color: #3D2A19;
  --forth-color: #AF6818;
  --fifth-color: #592A19;
}

body {
  background-color: var(--second-color);
  color: var(--fifth-color);
}

header {
  min-height: 20vh;
}