:root {
  --first-color: #D9C4C4;
  --second-color: #8397C4; 
  --third-color: #3D2A19;
  --forth-color: #AF6818;
  --fifth-color: #592A19;
}

.base {
  background-color: var(--second-color);
  color: var(--fifth-color);
}

header {
  min-height: 20vh;
  background-color: var(--forth-color);
  color: var(--first-color);
  border-style: solid;
  border-bottom: 8px solid var(--third-color);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  text-shadow: 
    -2px -2px 0 var(--fifth-color),
    2px -2px 0 var(--fifth-color), 
    -2px 2px 0 var(--fifth-color), 
    2px 2px 0 var(--fifth-color);
}

.nav li a{
  color: var(--first-color);
}

h1, h2, h3, h4, p {
  font-family: 'Courgette', cursive;
}

.banner {
  text-align: right;
  background-image: url("../src/images/mountain-2.jpg");
  background-size: cover;
  background-position:  center;
  height: 32vh ;
  color: var(--first-color);
  text-shadow: 
    -1px -1px 0 var(--fifth-color),
    1px -1px 0 var(--fifth-color), 
    -1px 1px 0 var(--fifth-color), 
    1px 1px 0 var(--fifth-color);
  border-style: solid;
  border-bottom: 8px solid var(--third-color);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.picture {
  max-height: 20vh;
}

.linktxt {
  color: var(--fifth-color)
}

.linktxt:hover {
  color: var(--forth-color);
}

.card {
  text-shadow: 
    -2px -2px 0 var(--fifth-color),
    2px -2px 0 var(--fifth-color), 
    -2px 2px 0 var(--fifth-color), 
    2px 2px 0 var(--fifth-color);
}